page-rooms {
    .wrapper{
        align-items: center;
        text-align: center;
        align-content: center;
        // margin-top: 6%;
    }

    .btn{
        background: white;
    }

    h4{
        margin-left: 4%;
        margin-top: 10%;
    }

}
