page-rooms {
    .wrapper{
        align-items: center;
        text-align: center;
        align-content: center;
        // margin-top: 6%;
    }

    .big_wrapper{
        background-color: #333;
        color: white;
    }

    .btn{
        background: white;
    }

    h4{
        margin-left: 4%;
        margin-top: 10%;
    }

    .wrap{
        background-color: #333;
        color: white;
        background: transparent; 
    }
    
    .top_btn{
        background-color: #758A7A; 
    }

}
