page-signup {
    .big_wrapper{
        background-color: #333;
        color: white;
    }

    .wrapper{
        margin-top: 40%;
   

        .wrap{
            background-color: #333;
            color: white;
            background: transparent;
            
        }
    }

    h2{
        margin-left:4%;
    }

    .top_btn{
        background-color: #758A7A; 
    }
    
    .btn{
        background-color: #758A7A; 
    }
}
